[fade] {
    -o-animation-duration: 0.75s;
    -o-animation-fill-mode: both, none;
    -moz-animation-duration: 0.75s;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-fill-mode: both, none;
    animation-duration: 0.75s;
    animation-fill-mode: both, none;
}

[fade="inTop"] {
    -o-animation-name: fadeIn, fromBottom;
    -moz-animation-name: fadeIn, fromBottom;
    -webkit-animation-name: fadeIn, fromBottom;
    animation-name: fadeIn, fromBottom;
}
[fade="outTop"] {
    -o-animation-name: fadeOut, toTop;
    -moz-animation-name: fadeOut, toTop;
    -webkit-animation-name: fadeOut, toTop;
    animation-name: fadeOut, toTop;
}

[fade="inBottom"] {
    -o-animation-name: fadeIn, fromTop;
    -moz-animation-name: fadeIn, fromTop;
    -webkit-animation-name: fadeIn, fromTop;
    animation-name: fadeIn, fromTop;
}
[fade="outBottom"] {
    -o-animation-name: fadeOut, toBottom;
    -moz-animation-name: fadeOut, toBottom;
    -webkit-animation-name: fadeOut, toBottom;
    animation-name: fadeOut, toBottom;
}

[fade="inRight"] {
    -o-animation-name: fadeIn, fromRight;
    -moz-animation-name: fadeIn, fromRight;
    -webkit-animation-name: fadeIn, fromRight;
    animation-name: fadeIn, fromRight;
}
[fade="outRight"] {
    -o-animation-name: fadeOut, toRight;
    -moz-animation-name: fadeOut, toRight;
    -webkit-animation-name: fadeOut, toRight;
    animation-name: fadeOut, toRight;
}

[fade="inLeft"] {
    -o-animation-name: fadeIn, fromLeft;
    -moz-animation-name: fadeIn, fromLeft;
    -webkit-animation-name: fadeIn, fromLeft;
    animation-name: fadeIn, fromLeft;
}
[fade="outLeft"] {
    -o-animation-name: fadeOut, toLeft;
    -moz-animation-name: fadeOut, toLeft;
    -webkit-animation-name: fadeOut, toLeft;
    animation-name: fadeOut, toLeft;
}

@-o-keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@-o-keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@-o-keyframes toTop {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
@-moz-keyframes toTop {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
@-webkit-keyframes toTop {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
@keyframes toTop {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-o-keyframes fromTop {
    0% {
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-moz-keyframes fromTop {
    0% {
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fromTop {
    0% {
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fromTop {
    0% {
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}

@-o-keyframes toBottom {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}
@-moz-keyframes toBottom {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}
@-webkit-keyframes toBottom {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}
@keyframes toBottom {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@-o-keyframes fromBottom {
    0% {
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-moz-keyframes fromBottom {
    0% {
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-moz-keyframes fromBottom {
    0% {
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fromBottom {
    0% {
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fromBottom {
    0% {
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}

@-o-keyframes toLeft {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@-moz-keyframes toLeft {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@-webkit-keyframes toLeft {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@keyframes toLeft {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-o-keyframes fromLeft {
    0% {
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-moz-keyframes fromLeft {
    0% {
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fromLeft {
    0% {
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fromLeft {
    0% {
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}

@-o-keyframes toRight {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}
@-moz-keyframes toRight {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}
@-webkit-keyframes toRight {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}
@keyframes toRight {
    0% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-o-keyframes fromRight {
    0% {
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-moz-keyframes fromRight {
    0% {
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fromRight {
    0% {
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fromRight {
    0% {
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
