/* Fade in animation */
[fade="inTop"] {
    -o-animation-name: fadeInTop;
    -o-animation-duration: 0.75s;
    -o-animation-fill-mode: both;
    -moz-animation-name: fadeInTop;
    -moz-animation-duration: 0.75s;
    -moz-animation-fill-mode: both;
    -webkit-animation-name: fadeInTop;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-name: fadeInTop;
    animation-duration: 0.75s;
    animation-fill-mode: both;
}
@-o-keyframes fadeInTop {
    0% {
        opacity: 0;
        -o-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-moz-keyframes fadeInTop {
    0% {
        opacity: 0;
        -o-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        -o-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        -o-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}

/* Fade in animation */
[fade="inBottom"] {
    -o-animation-name: fadeInBottom;
    -o-animation-duration: 0.75s;
    -o-animation-fill-mode: both;
    -moz-animation-name: fadeInBottom;
    -moz-animation-duration: 0.75s;
    -moz-animation-fill-mode: both;
    -webkit-animation-name: fadeInBottom;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-name: fadeInBottom;
    animation-duration: 0.75s;
    animation-fill-mode: both;
}
@-o-keyframes fadeInBottom {
    0% {
        opacity: 0;
        -o-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-moz-keyframes fadeInBottom {
    0% {
        opacity: 0;
        -o-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fadeInBottom {
    0% {
        opacity: 0;
        -o-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInBottom {
    0% {
        opacity: 0;
        -o-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}

/* Fade out animation */
[fade="outTop"] {
    -o-animation-name: fadeOutTop;
    -o-animation-duration: 0.75s;
    -o-animation-fill-mode: both;
    -moz-animation-name: fadeOutTop;
    -moz-animation-duration: 0.75s;
    -moz-animation-fill-mode: both;
    -webkit-animation-name: fadeOutTop;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-name: fadeOutTop;
    animation-duration: 0.75s;
    animation-fill-mode: both;
}
@-o-keyframes fadeOutTop {
    0% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -o-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}
@-moz-keyframes fadeOutTop {
    0% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -o-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}
@-webkit-keyframes fadeOutTop {
    0% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -o-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}
@keyframes fadeOutTop {
    0% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -o-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}

/* Fade out animation */
[fade="outBottom"] {
    -o-animation-name: fadeOutBottom;
    -o-animation-duration: 0.75s;
    -o-animation-fill-mode: both;
    -moz-animation-name: fadeOutBottom;
    -moz-animation-duration: 0.75s;
    -moz-animation-fill-mode: both;
    -webkit-animation-name: fadeOutBottom;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-name: fadeOutBottom;
    animation-duration: 0.75s;
    animation-fill-mode: both;
}
@-o-keyframes fadeOutBottom {
    0% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -o-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}
@-moz-keyframes fadeOutBottom {
    0% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -o-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}
@-webkit-keyframes fadeOutBottom {
    0% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -o-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}
@keyframes fadeOutBottom {
    0% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -o-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}

/* Fade in horizontal animation */
.fadeInH {
    -o-animation-name: fadeInH;
    -o-animation-duration: 0.75s;
    -o-animation-fill-mode: both;
    -moz-animation-name: fadeInH;
    -moz-animation-duration: 0.75s;
    -moz-animation-fill-mode: both;
    -webkit-animation-name: fadeInH;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-name: fadeInH;
    animation-duration: 0.75s;
    animation-fill-mode: both;
}
@-o-keyframes fadeInH {
    0% {
        opacity: 0;
        -o-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-moz-keyframes fadeInH {
    0% {
        opacity: 0;
        -o-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fadeInH {
    0% {
        opacity: 0;
        -o-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInH {
    0% {
        opacity: 0;
        -o-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}

/* Fade out horizontal animation */
.fadeOutH {
    -o-animation-name: fadeOutH;
    -o-animation-duration: 0.75s;
    -o-animation-fill-mode: both;
    -moz-animation-name: fadeOutH;
    -moz-animation-duration: 0.75s;
    -moz-animation-fill-mode: both;
    -webkit-animation-name: fadeOutH;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-name: fadeOutH;
    animation-duration: 0.75s;
    animation-fill-mode: both;
}
@-o-keyframes fadeOutH {
    0% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -o-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
}
@-moz-keyframes fadeOutH {
    0% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -o-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
}
@-webkit-keyframes fadeOutH {
    0% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -o-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
}
@keyframes fadeOutH {
    0% {
        opacity: 1;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -o-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
}
