/* Normalize CSS */
html, body {
    padding : 0;
    margin : 0;
    font-size: 16px;
}

/* Custum scroll */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #fafafa;
}
header::-webkit-scrollbar-track {
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
    background-color: #273238;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #269be5;
}

body > header.sidenav {
    width: 300px;
    position: fixed;
    height: 100vh;
    padding: 0 !important;
    transition: width 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background-color: #ffffff;
    transform: none;
    overflow-x: hidden;
    overflow-y: scroll;
}
body > header > div {
    width: 300px;
}
body > header > div > img {
    background-color: #c0c0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0px auto 16px auto;
    transition: width 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045), height 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045), transform 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
body > header > div > p {
    transition: color 0.25s linear;
    width: 300px;
}
body > header > div > p:first-child {
    font-size: 2rem;
    cursor: pointer;
}
body > header > div > p:first-child:hover {
    color: #039be5;
}
body > header > div > p:last-child {
    font-size: 1.5rem;
    padding-left: 25px;
    transition: opacity 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
body > header > div > p > i, body > div > i {
    transition: transform 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    text-align: center;
    width: 75px;
    height: auto;
}
body > div:first-child {
    position: fixed;
    z-index: 1000;
    font-size: 2rem;
    margin: 32px 0;
    cursor: pointer;
    transition: color 0.25s linear;
    color: #039be5;
}
body > div:first-child:hover + header > div > p:first-child {
    color: #039be5;
}
body > div > i.fa-minus {
    display: none;
}
body > div > i.fa-minus:nth-child(1) {
    /*transform: translateX(105%);*/
}
body > div > i.fa-minus:nth-child(2) {
    transition: opacity 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transform: translateY(7px);
}
body > div > i.fa-minus:nth-child(3) {
    transform: translateY(14px);
}
body > header > nav {
    background-color: #ffffff !important;
    box-shadow: none;
    height: auto;
    transition: transform 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
body > header > nav > a/*,
body > header > nav > button*/ {
    transition: color 0.25s linear;
    color: #000000;
    width: 300px;
    line-height: 48px;
    opacity: 0;
}
body > header > nav > a:not(:first-child) {
    display: none;
}
/*body > header > nav > button {
    background-color: transparent;
    border: none;
    padding: 0 !important;
    text-align: left;
    position: absolute !important;
    bottom: 0;
}
body > header > nav > button:focus {
    background-color: unset;
}*/
body > header > nav > a.active,
body > header > nav > a:hover/*,
body > header > nav > button.active,
body > header > nav > button:hover*/ {
    color: #039be5;
}
body > header > nav > a > i/*,
body > header > nav > button > i*/ {
    text-align: center;
    width: 75px;
    height: auto;
}
/*body > header > nav > ul#dropdownTheme > li {
    line-height: 50px;
    display: flex;
}
body > header > nav > ul#dropdownTheme > li > i {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 11.5px 25px;
    border: 1px solid black;
    transform: rotate(45deg);
}
body > header > nav > ul#dropdownTheme > li:nth-child(1) > i {
    background: linear-gradient(to left, #000 0%, #000 50%, #fff 50%, #fff 100%);
}
body > header > nav > ul#dropdownTheme > li:nth-child(2) > i {
    background: linear-gradient(to left, #263238 0%, #263238 33%, #039be5 33%, #039be5 67%, #fff 67%, #fff 100%);
}
body > header > nav > ul#dropdownTheme > li:nth-child(3) > i {
    background: linear-gradient(to left, #000 0%, #000 33%, #263238 33%, #263238 67%, #039be5 67%, #039be5 100%);
}
body > header > nav > ul#dropdownTheme > li:nth-child(4) > i {
    background: linear-gradient(to left, #b71c1c 0%, #b71c1c 33%, #e53935 33%, #e53935 67%, #fff 67%, #fff 100%);
}
body > header > nav > ul#dropdownTheme > li:nth-child(5) > i {
    background: linear-gradient(to left, #000 0%, #000 33%, #b71c1c 33%, #b71c1c 67%, #e53935 67%, #e53935 100%);
}*/

/* Main page */
main {
    margin-bottom: 300px !important;
    position: absolute;
    transition: margin-left 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    width: auto;
    min-height: 100vh !important;
    right: 0 !important;
    left: 0;
    z-index: 2;
    overflow: hidden;
    background: #fafafa;
    color: #000000;
    margin-left: 300px;
}

/* All articles */
main > article {
    padding: 50px 5% 50px 5%;
}
main > article > header {
    margin: 50px auto;
}
main > article > header h1,
main > article > header h3 {
    font-size: 3rem;
}

/*  */
#apresentation > section > p, #graduation > header, #graduation > ul > li {
    opacity: 0;
}

/* First article - apresentation */
#apresentation > header > button {
    opacity: 0;
    -o-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
    margin-top: 16px;
    background-color: #039be5;
    transition: color 0.25s linear, background-color 0.25s linear;
}
#apresentation > header > button::before {
    background-color: #039be5;
    transition: background-color 0.25s linear;
}
#apresentation > header > button:hover {
    background-color: #263238;
}
#apresentation > header > button:hover::before {
    background-color: #263238;
}
#apresentation > header > button > i {
    color: #263238;
}
#apresentation > header > button:hover > i {
    color: #039be5;
}
#apresentation > section > p {
    margin: 16px 0;
}

/* Second article - graduations */
#graduation {
    background-color: #263238;
    color: #ffffff;
}
#graduation > ul {
    border: none;
}
#graduation > ul > li {
    transition: color 0.25s linear;
    /*z-index: 0;
    margin: 15px;
    color: #000000;*/
    background-color: transparent;
    color: #ffffff;
}
/*#graduation > ul > li:hover {
    color: #039be5;
    -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    z-index: 1;
}*/

/* Third article - stacks */
#stack > ul > li > header.collapsible-header {
    justify-content: space-between;
    transition: color 0.25s linear;
}
#stack > ul > li > section.collapsible-body {
    background-color: #ffffff;
}
#stack > ul > li.active > header.collapsible-header,
#stack > ul > li:hover > header.collapsible-header {
    color: #039be5;
}
#stack > ul > li:first-child .fa-plus {
    transform: rotate(135deg);
}
#stack .fas:not(.fa-plus),
#stack .fab:not(.fa-css3-alt):not(.fa-html5) {
    margin: 0 1.5rem 0 0.5rem;
}
#stack .fa-html5 {
    margin: 0;
    transform: rotate(-15deg);
}
#stack .fa-css3-alt {
    margin: 0;
    transform: translateX(-15px) rotate(15deg);
}
#stack li:last-child i {
    display: block;
}
#stack li:last-child i > img {
    position: absolute;
    transition: opacity 0.25s linear;
}
#stack li:last-child i > img:last-child {
    opacity: 0;
}
#stack li:last-child:hover i > img:first-child,
#stack li.active:last-child i > img:first-child {
    opacity: 0;
}
#stack li:last-child:hover i > img:last-child,
#stack li.active:last-child i > img:last-child {
    opacity: 1;
}
#stack li:last-child span > span {
    margin-left: 60px;
}

/* Fourth article - experiences */
#experience {
    background-color: #263238;
    color: #ffffff;
}
#experience > section > ul {
    border: none;
}
#experience > section > ul > li {
    transition: color 0.25s linear;
    background-color: transparent;
}
/*#experience > section > ul > li:hover {
    color: #039be5;
}*/

/* Fifth article - projects */
#project > section > div {
    padding: 16px 32px 16px;
}
#project > section figure > .card-image {
    overflow: visible;
}
#project > section figure > .card-image > img {
    width: 100%;
}
#project > section figure > .card-image > i {
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #263238;
    background-color: #039be5;
}
#project > section figure:hover > .card-image > i {
    color: #039be5;
    background-color: #263238;
}
#project > section figure > figcaption {
    background-color: #ffffff;
    color: #000000;
}
#project > section figure > figcaption > p > a {
    color: #039be5;
}
#project > section figure > figcaption > .card-action {
    position: absolute;
    bottom: 8px;
}
#project > section figure > figcaption > .card-action > a {
    color: #039be5;
}

/* Sixth article - contact */
#contact {
    background-color: #263238;
}
#contact > header > h3 {
    color: #ffffff;
}
#contact > form {
    margin-bottom: 24px;
}
#contact > form input.valid,
#contact > form textarea.valid {
    color: #4caf50;
}
#contact > form input.invalid,
#contact > form textarea.invalid {
    color: #f44336;
}
#contact > form input:not(.valid):not(.invalid),
#contact > form textarea:not(.valid):not(.invalid),
#contact > form input:focus,
#contact > form textarea:focus,
#contact > form input:focus + label,
#contact > form textarea:focus + label {
    color: #039be5 !important;
}
#contact > form input:focus,
#contact > form textarea:focus {
    border-bottom: 1px solid #039be5 !important;
    -webkit-box-shadow: 0 1px 0 0 #039be5 !important;
    box-shadow: 0 1px 0 0 #039be5 !important;
}
#contact > form .character-counter,
#contact > form .helper-text,
#contact > form .helper-text:after {
    color: rgba(255,255,255,0.54) !important;
}
#contact > form input.invalid ~ .helper-text:after,
#contact > form textarea.invalid ~ .helper-text:after {
    color: rgba(255,255,255,0) !important;
}
#contact > form .character-counter {
    position: absolute;
    right: 11.250px;
    bottom: 0;
}
#contact > form [type="submit"] {
    display: block;
    margin: auto;
    background-color: #039be5;
    color: #ffffff;
}
#contact > form [type="submit"]:hover,
#contact > form [type="submit"]:focus {
    display: block;
    margin: auto;
    background-color: #ffffff;
    color: #039be5;
}
#contact > #modal {
    max-width: calc(100% - 300px);
    left: 300px;
    transition: left 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

/* Finish (footer) - contact */
footer {
    background-color: #263238 !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-bottom: 0 !important;
    padding-bottom: 0px;
    padding-top: 300px !important;
    padding-left: 300px;
    transition: padding-left 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    z-index: 1;
    overflow: hidden;
}
footer > p.footer-copyright {
    background-color: transparent !important;
    text-align: center;
    display: block !important;
}
footer > ul {
    border: none !important;
}
footer > ul > li {
    background-color: transparent !important;
    border: none !important;
    padding: 8px 0 !important;
}
footer > ul > li > a {
    font-size: 16px;
    transition: color 0.25s linear;
    color: #ffffff;
}
footer > ul > li > a:hover {
    color: #039be5;
}
footer > ul > li > a > i {
    text-align: center;
    width: 32px;
}

/* Responsive navigation */
@media (max-width: 992px) {
    body > header > div > p > i.fa-angle-left {
        display: none;
    }
    body > div:first-child > i.fa-minus {
        display: block;
        position: fixed;
    }
    body > header > div > p > span {
        margin-left: 75px;
    }
    body > header.sidenav {
        width: 300px !important;
        transform: translateX(-105%);
    }
    main {
        margin-left: 0px !important;
    }
    footer {
        padding-left: 0px !important;
    }
    #contact > #modal {
        left: 0 !important;
        max-width: 100%;
    }
}

/* Responsie footer */
@media (max-width: 993px) {
    main {
        margin-bottom: 400px !important;
    }
    footer {
        padding-top: 400px !important;
    }
}
